:root{
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
}

*{

    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scrollbar-width: auto;
}

body{
    font-family: 'Argentum Sans', sans-serif;
    font-display: swap;

    margin: 0;
    padding: 0;
}

.main__background,
.header--navigation,
.footer__background{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-inline: 5%;

    scroll-margin: 5rem; /* De acordo com o tamanho da navbar fixa */
}

.header--navigation{
    padding-inline: 3% !important;
}

.main__background > *,
.header--navigation > *,
.footer__background > *{
    width: 100%;
    max-width: 1536px;
}

.header--navigation > *{
    max-width: 1600px !important;
}

strong{
    color: var(--color-highlight);
    font-weight: 500;
}

label{
    display: grid;
}