/* SWIPPER */

.slide-content{
    width: fit-content !important;
}

.swiper-linear .swiper-wrapper {
  transition-timing-function: linear;
}

/* Pagination */

.swiper-prev, .swiper-next{
    width: 3.5rem;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
}

.swiper-prev{
    content: url('/icons/arrow-left.svg');
    left: 3%;
}

.swiper-next{
    content: url('/icons/arrow-right.svg');
    right: 3%;
}

.swiper-pagination{
    display: flex;
    gap: 0.5rem;
    margin-left: 3%;
    margin-bottom: 1rem;
    width: fit-content;
}

.swiper-pagination .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    aspect-ratio: 1/1;
    background-color: black;
}

.swiper-visible{
    overflow: visible !important;
}

@media (width >= 96rem /* (1536px) */) {
    .swiper-visible{
        overflow: hidden !important;
    }
}