/* Importando Tailwind */
@import "tailwindcss";

/* Importando Componentes*/

/* Importando Base */
@import "./base/base.css";
@import "./base/typografy.css";
@import "./base/animations.css";

/* Importando State */
@import "./state/is-active.css";
@import "./state/is-hidden.css";

/* Importando Tema */
@import "./theme/light-theme.css";

@theme{
    --shadow-inset-custom: inset 0px 0px 50px #00000050;
}

@theme{
    --breakpoint-xsm: 28rem;
}

/* Utils */
.glassmorphism{
    background: rgba( 0, 0, 0, 0 );
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-bottom: 1px solid var(--color-background-dark);
}

.neumorphism-dark{
    border-radius: 16px;
    box-shadow:  11px 11px 25px #d6d6d625,
             -11px -11px 25px #ffffff25;
}

.neumorphism-light{
    border-radius: 16px;
    box-shadow:  8px 8px 16px #c2c2c2,
             -8px -8px 16px #ffffff;
}

.neumorphism-inner{
    border-radius: 16px;
    background: #e0e0e0;
    box-shadow: inset 24px 24px 46px #acacac,
                inset -24px -24px 46px #ffffff;
}