@theme{
    --color-background-dark: #EFEFEF;
    --color-background-light: #FFFFFF;
    --color-light: #fff;
    --color-dark: #1E1E1E;
    --color-highlight-red: #DE5A53;
    --color-highlight-cyan: #4DA1B1;
}